body{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    background: url(https://i.pinimg.com/originals/1c/1d/7a/1c1d7a7fd81ff42a9275fd5a7ebfb597.jpg);
    background-size:cover;
    color: white;
}